<div class="large-screens" *ngIf="$cardData | async as data">
  <div class="side-bar">
    <div class="card-front">
      <div class="card-logo">
        <img src="assets/card-logo.svg" alt="Card Logo" />
      </div>
      <div class="card-number heading-xlarge">
        {{ data.cardNumber | creditCard }}
      </div>
      <div class="text-body-large card-data">
        <span>{{ data.cardHolderName }}</span>
        <span
          >{{ data.expiryDateMonth ? data.expiryDateMonth : "00" }}/{{
            data.expiryDateYear ? data.expiryDateYear : "00"
          }}</span
        >
      </div>
    </div>
    <div class="card-back">
      <div class="text-body-large cvc">{{ data.cvc ? data.cvc : "000" }}</div>
    </div>
  </div>
  <div class="form">
    <app-card-form></app-card-form>
  </div>
</div>

<div class="small-screens" *ngIf="$cardData | async as data">
  <div class="mobile">
    <div class="top-bar">
      <div class="card-back card-back-mobile">
        <div class="text-body-large cvc">{{ data.cvc ? data.cvc : "000" }}</div>
      </div>
      <div class="card-front card-front-mobile">
        <div class="card-logo">
          <img src="assets/card-logo.svg" alt="Card Logo" />
        </div>
        <div class="card-number heading-xlarge">
          {{ data.cardNumber | creditCard }}
        </div>
        <div class="text-body-large card-data">
          <span>{{ data.cardHolderName }}</span>
          <span
            >{{ data.expiryDateMonth ? data.expiryDateMonth : "00" }}/{{
              data.expiryDateYear ? data.expiryDateYear : "00"
            }}</span
          >
        </div>
      </div>
    </div>
    <div class="form form-mobile">
      <app-card-form></app-card-form>
    </div>
  </div>
</div>
